/* Custom Styles */
:root {
  --fontFamily: 'Cormorant';
}

body {
  font-family: 'Cormorant', serif;
  /* font-family: 'Ysabeau Office', sans-serif; */
}

/* Fonts */

/* Cormorant-300 */
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.googleapis.com/css2?family=(var(--fontFamily):wght@300&display=swap"); 
}
/* Cormorant-500  */
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.googleapis.com/css2?family=(var(--fontFamily):wght@500&display=swap"); 
}
/* Cormorant-700 */
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=(var(--fontFamily):wght@700&display=swap"); 

}

/*
font-family: 'Cormorant', serif;
https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap

font-family: 'Ysabeau Office', sans-serif;
src: url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap");


@font-face {
  font-family: 'Ysabeau Office';
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap"); 
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap"); 
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap");
}  
  */

